<div id="album">

    <header>
        <hgroup>
            <h1>Photos</h1>
            <h2>Currently viewing: <span id="albumName"></span></h2>
            <h3><a href="#" id="create">Add New Photo</a></h3>
        </hgroup>
    </header>
</div>


<script type="text/javascript" src='@Url.Content("~/Scripts/PhotoAlbum/Templates.js" )'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/PhotoAlbum/Events.js" )'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/PhotoAlbum/Model.js" )'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/PhotoAlbum/Collection.js" )'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/PhotoAlbum/View.js" )'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/PhotoAlbum/App.js" )'></script>


