@model Photo_Album.Models.Photo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Photo</legend>

    <div class="display-label">name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">filename</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.filename)
    </div>

    <div class="display-label">caption</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.caption)
    </div>

    <div class="display-label">photographer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.photographer)
    </div>

    <div class="display-label">license</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.license)
    </div>

    <div class="display-label">album</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.album)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
